.button {
  position: relative;
  width: auto;
  height: 50px;
  background-color: #907dff;
  color: white;
  padding: 0 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
