.add {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: #907dff;
  display: flex;
  justify-content: center;
  align-items: center;
  
  svg {
    font-size: 28px;
    color: white;
  }
}
