@import '../../styles/variables.module.scss';

.topbar {
  position: relative;
  width: 100%;
  height: $topbar-height;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(17, 60, 255);
}
