@import '../../styles/variables.module.scss';

.topbar {
  position: relative;
  width: 100%;
  height: $topbar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 45px;
  background-color: #907DFF;

  .segment {
    position: relative;
    height: 100%;
    width: calc( 100% / 3 );
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-of-type {
      justify-content: flex-start;
    }

    &:last-of-type {
      justify-content: flex-end;
    }
  }

  .link {
    position: relative;
    width: 160px;
    height: 40px;
  }

  .fileOperations {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    .item {
      position: relative;
      height: 100%;
      width: 120px;
      color: white;
      background-color: transparent;
      border-radius: 10px;
      font-size: 18px;
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .export {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: white;
      }
    }

    .hiddenFileInput {
      display: none;
    }
  }
}
