
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
}

ul {
  list-style: none;
}

button {
  border: transparent;
  outline: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

input, button, textarea {
  font-family: inherit;
}
