
.table {
  position: absolute;
  width: 200px;
  height: auto;
  border-radius: 15px;
  cursor: pointer;

  .header {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rosybrown;
    border-radius: 15px 15px 0 0;
    pointer-events: none;
  }
}
