* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: transparent;
  outline: transparent;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}
