@import '../../styles/variables.module.scss';

.sidebar {
  position: relative;
  width: $sidebar-width;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;

  &.centerP {
    justify-content: center;
    align-items: center;
  }
}
