@import '../../variables.module.scss';

.header {
  position: relative;
  width: 100%;
  height: $prop-height;
  display: flex;

  .name {
    position: relative;
    height: $prop-height;
    width: calc( 100% - $prop-height );
    background-color: rgb(127, 127, 255);
    border: none;
    padding: 0 20px;
  }

  .addRow {
    position: relative;
    height: $prop-height;
    aspect-ratio: 1;
    background-color: blue;

    svg {
      color: white;
    }
  }
}
